@page "/"
@using Models;

<h3>Employees</h3>
<h4> Employee Selected Count: @SelectedEmployeesCount</h4>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <EmployeeDisplay Employee="employee" ShowFooter="ShowFooter"
                             OnEmployeeDelete="EmployeeDeleted"
                             OnEmployeeSelection="EmployeeSelectionChanged" 
                             />
        }
    </div>
}
